/*  your css code here. If applicable */
body{
	background-color:#cccccc;
}
.player_one{
	background-color:white;
	border: 1px solid black;
	border-radius:3px;
	padding:10px;
}
.player_two{
	background-color:white;
	border: 1px solid black;
	border-radius:3px;
	padding:10px;
	text-align: center;
}
a{
	text-decoration: none;
}
